form {
    background-color: #213b50;
    color: #ffffff;
    
}

input {
    background-color: #2b4a64;   
}

textarea { 
    background-color: #2b4a64;
}

input[type="submit"] { 
    background-color: green;
    color: white;
}